@import "tailwindcss";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Satoshi", sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: #0f0f0f;
}

.nav-gradient {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.85%,
    rgba(0, 0, 0, 0.019) 88%,
    rgba(0, 0, 0, 0) 100%
  );
}

.mid-container {
  background-image: linear-gradient(360deg, #0f0f0f 10%, rgb(79, 78, 78, 0));
}

.video {
  min-width: 100%;
  min-height: 100%;
}

.gradient-left {
  background-image: linear-gradient(90deg, #131313, rgba(255, 255, 255, 0));
}

.gradient-left-black {
  background-image: linear-gradient(90deg, #0f0f0f, rgba(255, 255, 255, 0));
}

.logo-bg {
  background-image: url("./assets/iem-logo.svg");
  background-repeat: no-repeat;
}

.banner {
  transition: blur 1.5s, opacity 1.5s;
}

.banner-wrapper {
  height: 10rem;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.banner-wrapper .wrapper .icons {
  display: flex;
  animation: swipeLeft 17000ms linear infinite;
}

@keyframes swipeRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
